<h1>今回のギアとブキは・・・</h1>

<h4>ブキ</h4>
<p class="buki"><%= @buki.sample %></p>
<h4>アタマ</h4>
<p class="atama"><%= @atama.sample %></p>
<h4>フク</h4>
<p class="fuku"><%= @fuku.sample %></p>
<h4>クツ</h4>
<p class="kutu"><%= @kutu.sample %></p>

<p><%= link_to "再抽選をする", tool_path, class: 'nav-link text-dark' %></p>
